build
build.log
build.out
.idea
cmake-build-debug
duckdb_unittest_tempdir/
.DS_Store
testext
test/python/__pycache__/
.Rhistory

# blq
.bird/*
!.bird/hooks/
!.bird/config.toml
!.bird/commands.toml

.cache/
